img{
    width: 30%;
    height: 30%;
    padding-left: 15%;
}

body {
    background-color: black;
    color: white;
    margin: 30%;
    margin-top: 0%;
    
}

button {
    background-color: blue;
    border-radius: 20%;
    color: white;
    
}

ul{
    list-style: none;
}
